extends ./_layout.pug

block content
    .container
        .row
            .col-sm-6.col-md-4
                h1 About us 
                p We fetch rides since 1990! Come and visit our office downtown.
