extends ./_layout.pug

block content
    .container
        .row
            .col
                h1 About us 
                p Visit our 
                    a(href='https://www.facebook.com/')  Facebook page!
                p 
                | Currently we have 
                b.advCount
                |  adverts for you to explore! 
                p We fetch rides since 1990! Come and visit our office downtown.

