extends ../_layout.pug

block content
    .container#vehicles-container
        .row
            .col-sm-6.col-md-4
                h1 My adverts
                each advert in adverts
                    .thumbnail
                        h4 #{advert.manufacturer}                  
                        img(src='http://blog.caranddriver.com/wp-content/uploads/2015/11/BMW-2-series.jpg', alt='...')
                        .caption
                            h3 #{advert.category}