extends ../_layout.pug
block content
    section#login
        .container
            .row
                .col-xs-12
                    .form-wrap
                        h1 Log in with your username and password
                        form#login-form(role='form', action='/login', method='POST', autocomplete='off')
                            .form-group
                                label.sr-only(for='email') Username
                                input#email.form-control(type='text', name='username', placeholder='Username')
                            .form-group
                                label.sr-only(for='key') Password
                                input#key.form-control(type='password', name='password', placeholder='Password')
                            input#btn-login.btn.btn-custom.btn-lg.btn-block(type='submit', value='Log in')
                        
                // /.col-xs-12
            // /.row
        // /.container