extends ../_layout.pug

block content
    .container
        .row
            .col
                h1 Our services
                p Call us on (+359) 123456 and order today!
                p If you have any questions, don't hesitate to ask right away!